* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ececec;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#header ul {
  list-style-type: none;
}
#header a {
  display: block;
  padding: 10px;
  color: blueviolet;
  text-decoration: none;
  font-size: 1.1em;
}
#header a:hover,
#header a:focus {
  background: rgba(0, 0, 0, 0.1);
}
#header .active a {
  background: rgba(0, 0, 0, 0.1);
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .categories {
  display: flex;
  justify-content: flex-end;
}

#header .logo {
  font-size: 2em;
  padding: 0;
}

#books-section ,
#book-detail,
#page-not-found{
  margin: 50px 0;
}

.section-title {
  padding: 20px 0;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
#books-section .book {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: #fff;
}
#books-section .book-img img {
  width: 100%;
  height: 200px;
}
#books-section .book-info {
  padding: 10px;
}
#books-section .book-title {
  padding-bottom: 10px;
}
#books-section .book-author {
  padding-bottom: 5px;
}

.btn{
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0;
  opacity: .9;
}
.btn:hover,
.btn:focus{
  opacity: 1;
}
.btn-highlight{
  background: blueviolet;
  color: #fff;
}

#book-detail .book-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#book-detail .book-title{
  padding-bottom: 10px;
}

#book-detail .book-review-container{
  display: flex;
  font-size: 1.2em;
}

#book-detail .book-review-container .book-stars{
  color: yellow;
  justify-content: flex-end;
}

#book-detail .book-review-container .book-review{
  margin-left: 5px;
}

#footer{
  background: blueviolet;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  padding: 20px 0;
}